.refresh p{
    text-align: center;
    text-emphasis:initial;
    color: brown;
    font-weight: bold;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}