.weather {
    place-self: center;
    vertical-align: middle;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #676767, #4d6985);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 600px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
    margin-top: 1.5%;
}

.heading {
    color: rgb(250, 228, 204);
    text-align: center;
}

.heading h2 {
    font-size: 20px;
    margin: 0;
    border-bottom: #eee5e5 solid 2px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
    padding: 10px;
}

.search-bar input {
    height: 50px;
    width: 300px;
    border: 2px;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
    color: #626262;
    background: #ebfffc;
    font-size: 15px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
} 
.temperature {
    color:  #eceef1;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.feels {
    color:  #edf0f5;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.location {
    color:  #ebfffc;
    font-size: 20px;

}

.condition {
    color:  #ebfffc;
    font-size: 18px;

}

.weather-data {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.searchmessage {
    color: #c9e69a;
}

.myicon {
    height: 50px;
    width: 50px;
    border: #626262;
}

.col span {
    color: #d9f0a1;
    font-style: italic;
}

.icon {
    height: 40px;
    width: 100px;
}

.weathericon {
    height: 50px;
    width: 50px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    background: none;
    display: flex;
}
