.weather {
    place-self: center;
    padding: 2px;
    border-radius: 20px;
    border: 2px solid #0367fd;
    background-image: url('../assets/image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 400px;
    color: white;
}

.heading {
    color: rgb(243, 120, 120);
    text-align: center;
    padding: 10px;
}

.heading h2 {
    font-size: 18px;
    margin: 0;
    border-bottom: #3654fc solid 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    padding: 5px;
    color: black;
}

.search-bar input {
    height: 50px;
    width: 300px;
    border: 2px;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
    color: black;
    background: #ebfffc;
    font-size: 15px;
    border: 2px solid black;
    transition: all 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
    cursor: pointer;
} 

.temperature {
    color:  white;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.feels {
    color:  white;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.city {
    color:  white;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.location {
    color:  white;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.condition {
    color:  rgb(5, 21, 247);
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

.weather-data {
    width: 100%;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    font-size: 15px;
    padding: 8px;
}

.searchmessage {
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 600;
}

.myicon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: #3d355e solid 2px;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.col span {
    color: rgb(196, 216, 130);;
    font-style: italic;
    font-size: 14px;
}

.icon {
    height: 40px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    filter: brightness(0%);
    filter: contrast(950%);
}

.weathericon {
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: rgb(153, 65, 65)
}

.weather-data .degree-text {
    color:  white;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    font-weight: 500;
}

.weather-data .degree-text1 {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}
