.weather {
    place-self: center;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(60deg, rgba(2, 66, 243, 0.5) 50%, rgba(3, 34, 207, 0.5) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

.heading {
    color: rgb(243, 227, 5);
    text-align: center;
}

.heading h2 {
    font-size: 20px;
    margin: 0;
    border-bottom: #eee5e5 solid 2px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 30px;
    padding: 10px;
    color: #000;
}

.search-bar input {
    height: 50px;
    width: 300px;
    border: 2px;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
    color: #626262;
    background: #ebfffc;
    font-size: 15px;
    border: 2px solid #626262;
    transition: all 0.3s ease;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: white;
    border: 2px solid #626262;
    cursor: pointer;
} 

.temperature {
    color:  white;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.feels {
    color:  white;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}

.city {
    color:  white;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    word-wrap: break-word;
    margin-right: 5px
}

.location {
    color:  white;
    font-size: 18px;
    padding-left: 5px;
}

.condition {
    color:  white;
    font-size: 18px;
}

.weather-data {
    width: 100%;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    font-size: 18px;
    padding: 10px;
}

.searchmessage {
    color: #0c0c0c;
}

.myicon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: #626262 solid 2px;
    background: #ebfffc;
}

.col span {
    color: #0c0c0c;
    font-style: italic;
    font-size: 15px;
}

.icon {
    height: 40px;
    width: 100px;
}

.weathericon {
    height: 50px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    background: none;
    display: flex;
}

.weather-data .degree-text {
    color: #faf7f7;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}
